* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --foto-url: url('./imagenes/foto1.webp'); 
    --violeta: #5E5491;
    --lila: #D2C7FF;
    --verde: #E1FB62;
    --blanco: #FFFFFF;
    --voltear: voltear 0.7s linear normal forwards;
    --columns: 7;
}

html {
    height: 100%;
}

body {
    background-color: #1c1c1c;
    width: 80%;
    margin: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 44px;

    img {
        width: 38px;
        height: max-content;
    }
}

a {
    text-decoration: none;
    color: white;
}

.titulo {
    width: fit-content;
    height: fit-content;
    display: block;
    font-size: 20px;
    margin: 10% 0;
    animation: aparecer 1s linear 0.5s 1 normal forwards;
}

img {
    width: 100%;
    height: auto;
}

@keyframes aparecer {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

nav {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}

.mensaje {
    color: white;
    font-family: 'Manrope';
    text-align: center;
    margin: 5%;

    img {
        width: 20%;
        margin-bottom: 1rem;
    }
}

.activado {
    border: 1px solid white;
    border-radius: 125px;
}

.nav-link {
    white-space: nowrap;
    padding: 5px 15px;
}

.contenido {
    display: flex;
    flex-direction: column;
    margin: 10% 0;
    gap: 2rem;
}

.sobre-mi {
    display: flex;
    width: 100%;
    height: 100%;

    .sobre-mi__contenido {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;

        .sobre-mi__contenido-texto {
            color: white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;

            .texto-descripcion {
                font-family: 'Manrope';
            }
        }

        .sobre-mi__imagen {
            object-fit: contain;
            border-radius: 10px;
            overflow: hidden;
            width: 70%;
        }
    }
}


/* IMPACTO */
.impacto {
    background-color: var(--lila);
    padding: 40px;
    border-radius: 10px;
    color: var(--violeta);

    transition: all 0.5s ease-in-out;

    &:has(.violeta-blanco:hover) {
        color: var(--violeta);
        background-color: var(--blanco);
    }

    &:has(.violeta-verde:hover) {
        color: var(--violeta);
        background-color: var(--verde);
    }

    &:has(.lila-blanco:hover) {
        color: var(--lila);
        background-color: var(--blanco);
    }

    &:has(.lila-violeta:hover) {
        color: var(--lila);
        background-color: var(--violeta);
    }

    &:has(.verde-violeta:hover) {
        color: var(--verde);
        background-color: var(--violeta);
    }
}

.impacto svg {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.circulos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));

    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background-color: var(--violeta);
        transform: translate(15px);
    }

    &:hover {
        transform: rotate(360deg);
    }
}

.violeta-blanco {
    background-color: var(--violeta);

    &::after {
        background-color: var(--blanco);
    }
}

.violeta-verde {
    background-color: var(--violeta);

    &::after {
        background-color: var(--verde);
    }
}

.lila-blanco {
    background-color: var(--lila);

    &::after {
        background-color: var(--blanco);
    }
}

.lila-violeta {
    background-color: var(--lila);

    &::after {
        background-color: var(--violeta);
    }
}

.verde-violeta {
    background-color: var(--verde);

    &::after {
        background-color: var(--violeta);
    }
}

/* MOSQUIANO */
.mosquiano {
    border-radius: 10px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background: #FFFFFF;
    order: 1;

    &::-webkit-scrollbar {
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 5px;
    }
}

.simplebar-scrollbar:before {
    background-color: #000;
}

.mosquiano img {
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
}

/* El CUENTO URUGUAYO */
.el_cuento_uruguayo {
    aspect-ratio: 424/599;
    background-size: contain;
    border-radius: 10px;
    background-image: url('./videos/el_cuento_uruguayo.gif');
}

/* DICTADURA DEL DISEÑO */
.dictadura_del_diseno div {
    aspect-ratio: 408/570;
    background-size: contain;
    border-radius: 10px;
    background-image: url('./videos/dictadura_del_diseno.gif');
}

/* VANS */
.vans {
    width: 100%;
    padding: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
}

.vans div {
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    aspect-ratio: 620/877;
    background-repeat: no-repeat;
    background-size: cover;
}

.afiche1 {
    background-image: url("./imagenes/vans_afiche1.webp");

    &:hover {
        background-image: url("./imagenes/vans_afiche1_mu.webp");
    }
}

.afiche2 {
    background-image: url("./imagenes/vans_afiche2.webp");

    &:hover {
        background-image: url("./imagenes/vans_afiche2_mu.webp");
    }
}

.afiche3 {
    background-image: url("./imagenes/vans_afiche3.webp");

    &:hover {
        background-image: url("./imagenes/vans_afiche3_mu.webp");
    }
}

/* TOTEM */
.totem_cervezas {
    width: 100%;
    position: relative;
}

.totem_cervezas img {
    border-radius: 10px;
    width: 100%;
}


.catalogo {
    width: 100%;
    position: relative;

    .catalogo__imagen {
        width: 100%;
    }

    .foto {
        background-size: contain;
        position: absolute;
        background-color: #D9D9D9;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .foto1 {
        top: calc((24/329)*100%);
        left: calc((23/657)*100%);
        width: calc((126/657)*100%);
        height: calc((260/329)*100%);

        &.voltear {
            animation: var(--voltear);
            --foto-url: url('./imagenes/foto1.webp');
        }
    }

    .foto2 {
        top: calc((134/329)*100%);
        left: calc((176/657)*100%);
        width: calc((130/657)*100%);
        height: calc((104/329)*100%);

        &.voltear {
            animation: var(--voltear);
            --foto-url: url('./imagenes/foto2.webp');
        }
    }

    .foto3 {
        top: calc((24/329)*100%);
        left: calc((423/657)*100%);
        width: calc((212/657)*100%);
        height: calc((137/329)*100%);

        &.voltear {
            animation: var(--voltear);
            --foto-url: url('./imagenes/foto3.webp');
        }
    }

    .foto4 {
        top: calc((203/329)*100%);
        left: calc((352/657)*100%);
        width: calc((158/657)*100%);
        height: calc((103/329)*100%);

        &.voltear {
            animation: var(--voltear);
            --foto-url: url('./imagenes/foto4.webp');
        }
    }
}

/* Actualizamos los keyframes para utilizar la variable */
@keyframes voltear {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(-90deg);
        background-color: #D9D9D9;
        background-image: none;
    }

    51% {
        background-image: var(--foto-url);
    }

    100% {
        transform: rotateY(-180deg);
        background-image: var(--foto-url);
    }
}

.raices_vivas video {
        width: 100%;
        border-radius: 10px;
}

.en_bici img {
        width: 100%;
        /* border-radius: 2.9rem; */
}

.pizza-top div {
    background-image: url('./imagenes/pizza-top.svg');
    aspect-ratio: 1/1;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
        background-image: url('./imagenes/pizza-top-original.png');
    }
}


@media only screen and (min-width: 1024px) {
    .mensaje {
        visibility: hidden;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        width: 25%;
    }

    .contenido {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: repeat(7, calc((1/7) * 100% - (2rem * 6 / 7)));
        grid-auto-rows: minmax(100px, auto);
    }

    .impacto {
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .el_cuento_uruguayo {
        grid-column: 5 / 8;
        grid-row: 1 / 4;
        aspect-ratio: 424/599;
        background-size: contain;
        border-radius: 10px;
        background-image: url('./imagenes/el_cuento_uruguayo.webp');

        &:hover {
            background-image: url('./videos/el_cuento_uruguayo.gif');
        }
    }

    .mosquiano {
        grid-column: 4 / span 4;
        margin-top: 63px;
        height: fit-content;
        grid-row: 4;
        order: initial;
    }

    .pizza-top {
        grid-column: 1 / 4;
        grid-row: 5;
    }

    .dictadura_del_diseno {
        grid-column: 1 / 4;
        grid-row: 2;
        border-radius: 10px;
        margin-bottom: 4em;

       div {
            background-image: url('./imagenes/dictadura_del_diseno.webp');

            &:hover {
                background-image: url('./videos/dictadura_del_diseno.gif');
            }
        }
    }

    .vans {
        justify-content: space-between;
        flex-direction: row;
        padding: 4%;
        grid-column: 1 / 8;
        grid-row: 6;
    }

    .vans div {
        width: 31%;
    }

    .totem_cervezas {
        grid-column: 5/ span 3;
        grid-row: 5;

        img {
            position: absolute;
            bottom: 0;
        }
    }

    .en_bici {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    .catalogo {
        grid-column: 1 / 8;
        grid-row: 3;
        display: flex;
        justify-content: space-between;
    }

    .raices_vivas {
        grid-column: 4 / 8;
        grid-row: 2;
        align-self: end;
    }

    .sobre-mi {
        .sobre-mi__contenido {
            flex-direction: row;

            .sobre-mi__contenido-texto {
                flex-direction: column;
                justify-content: center;
                width: 55%;
            }

            .sobre-mi__imagen {
                width: 45%;
            }
        }
    }

    /* .en_bici__gif {
        border-radius: 5.5rem;
    } */
}


@media only screen and (width > 768px) and (width < 1024px) {
    nav {
        width: 35%;
    }
}
